.section.video-container {
    padding: 0.625rem;
    margin: 0;
}

@media (width>= 48em) {
    .section.video-container {
    padding: 1.5625rem 0.625rem 1.125rem;
}
}

.video {
    text-align: center;
    max-width: 900px;
    margin: 24px auto;
}

.video[data-embed-loaded="false"]:not(.placeholder) {
    /* reserve an approximate space to avoid extensive layout shifts */
    aspect-ratio: 16 / 9;
}

.video > div {
    display: flex;
    justify-content: center;
}

.video video {
    max-width: 100%;
}

.video .video-placeholder {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
}

.video .video-placeholder > * {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
}

.video[data-embed-loaded="true"] .video-placeholder,
.video[data-embed-loaded="false"] .video-placeholder + * {
    visibility: hidden;
    height: 0;
    width: 0;
}

.video .video-placeholder picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video .video-placeholder-play button {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: 4px solid #fff;
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    transform: scale(1);
    transition-duration: .5s; 
}

.video .video-placeholder-play button::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 24px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 18px solid #fff;
    top: 50%;
    left: calc(50% + 2px);
    transform: translate(-50%, -50%);
}

.video .video-placeholder-play:hover button {
    transform: scale(1.1);
    transition-duration: .5s; 
}

.video .video-caption {
    font-family: var(--body-font-family);
    font-size: var(--font-size-body-s);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-body-s);
    color: var(--text-primary);
    text-align: left;
    margin: var(--spacing-s) 0 0 0;
    padding: 0;
    display: block;
    width: 100%;
}

.video-container .default-content-wrapper {
    max-width: 810px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}