.icon-button .icon-button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    padding: 0.8125rem 1rem 0.8125rem 1.5rem;
    gap: 0.25rem;
    border-radius: 8px;
    max-width: 355px;
    cursor: pointer;
    background-color: var(--bs-color-yellow);
    border: 0.8px solid var(--bs-color-yellow);
    color: var(--bs-color-gray);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 1.25rem;
    line-height: 1.125rem;
}

.icon-button .icon-button-icon {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    margin: 0.375rem;
    fill: currentcolor;
}

.icon-button .icon-button-text {
    font-weight: 600;
}

.icon-button .icon-button-link:hover,
.icon-button .icon-button-link:active {
    color: var(--bs-color-black);
    background-color: var(--bs-color-yellow-hover-bg);
    border-color: var(--bs-color-yellow-hover-border);
    text-decoration: none;
}

.icon-button-link.bg-red {
    background-color: var(--bs-color-red);
    border: 0.8px solid var(--bs-color-red);;
    color: var(--bs-color-white);
}

.icon-button-link.bg-red:hover,
.icon-button-link.bg-red:active {
    color: var(--bs-color-red);;
    border-color: var(--bs-color-red);;
    background-color: var(--bs-color-white);;;
    text-decoration: none;
}

.icon-button-link.bg-red .icon-button-icon {
    color: var(--bs-color-white);
}

.icon-button-link.bg-red:hover .icon-button-icon {
    color: var(--bs-color-yellow);
}