footer {
  padding: 40px 0 68px;
  background-color: var(--light-color);
}

footer .footer p {
  margin: 0;
}

footer .default-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

footer .footer p:first-child img {
  max-width: 122px;
  margin-right: 35px;
  height: 100%;
}

footer .footer p:nth-child(2) img {
  max-width: 143px;
  height: 100%;
}

footer .footer p:nth-child(3) {
  text-align: center;
  width: 100%;
  font-size: 13px;
  line-height: 1.4;
  font-weight: var(--font-weight-regular);
  margin: 25px 0 16px;
}

footer .footer ul {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
  font-size: 12px;
  font-weight: var(--font-weight-regular);
  line-height: normal;
}

@media screen and (min-width: 48em) { 
  footer {
    padding: 71px 0 58px;
  }
}