:root {
    /* colors */
    --background-color: white;
    --light-color: #fff;
    --dark-color: #505050;
    --text-color: #131313;
    --link-color: #3b63fb;
    --link-hover-color: #1d3ecf;
    /* fonts */
    --body-font-family: roboto, roboto-fallback, sans-serif;
    --heading-font-family: roboto-condensed, roboto-condensed-fallback,
        sans-serif;

    /* to be retained */
    /* heading sizes */
    --heading-font-size-h1: 1.875rem;
    --heading-font-size-h2: 1.625rem;
    /* --heading-font-size-h3: 24px; */
    --heading-font-size-h4: 1.25rem;
    --heading-font-size-h5: 1.25rem;
    /* --heading-font-size-h6: 18px; */
    
    /* body-sizes */
    --body-size-large: 1.375rem;
    --body-size-medium: 1.25rem;
    --body-size-small: 1.125rem;
    --body-size-xsmall: 1rem;

    /* font-weight */
    --font-weight-bold: 700;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    /* nav height */
    --nav-height: 167px;

    /* container size */
    --container-max-width: 1142px;
    --mobile-spacing: 10px;
    --desktop-spacing: 16px;
    --container-width: calc(100% - calc(var(--mobile-spacing) * 2));

    /* uniform spacing */
    --uniform-spacing: 32px 0;
}

@media (width >= 48em) {
    :root {
        --heading-font-size-h1: 2.5rem;
        --heading-font-size-h2: 2.25rem;
        --heading-font-size-h4: 1.5rem;
        --container-width: calc(100% - calc(var(--desktop-spacing) * 2));
        --nav-height: calc(88px + 28px); /* 88px is the height of the logo, 28px is the vertical padding on the nav */
        --uniform-spacing: 62px 0;
    }
}

/* fallback fonts */
@font-face {
    font-family: roboto-condensed-fallback;
    size-adjust: 88.82%;
    src: local("Arial");
}

@font-face {
    font-family: roboto-fallback;
    size-adjust: 99.529%;
    src: local("Arial");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

html:has(body.zoomed-in) {
    font-size: 140%;
}
